Escape Sequence

In [3]:
print("Hello \"This\" is escape sequence")

Hello "This" is escape sequence

Formatted String

In [12]:
x=100
y=20

In [14]:
print(f"Hello I am {x} & He is {y}")

Hello I am 100 & He is 20

String Method

In [16]:
course='python programming'
print(course.title())

Python Programming

In [19]:
print(course.replace("p","k"))

kython krogramming

Complex Number

In [20]:
1+2j

(1+2j)

Integer after division

In [21]:
10//3

3

Numbers

In [ ]:
round(4.3)

30

In [24]:
abs(-30)

30

math Library

In [26]:
import math

In [27]:
math.ceil(3.1)

4

In [28]:
math.factorial(5)

120

Ternary Operator

In [31]:
age=29
message="Eligible" if age>=18 else "Not Eligible"
print(message)

Eligible

Chaining Comparison Operators

In [32]:
if 10>5>1:
    print('okay')

okay

while loop

In [1]:
num=100
while num>0:
    print(num)
    num//=2

100
50
25
12
6
3
1

Argument and parameter

In [ ]:
def sum(a,b): #parameter
    print(f"{a}+{b}={a+b}")

sum(5,10) #argument

5+10=15

In [4]:
def greet(name):
    return f"Hi {name}"

print(greet("Mehedi!"))

Hi Mehedi!

List Comprehension

In [1]:
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

In [4]:
nums = [5, -3, 8, -1, 0]
cleaned = [x if x>0 else 0 for x in nums]
print(cleaned)

[5, 0, 8, 0, 0]